.card-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
}
.card.lucky {
  background-color: gold;
  color: black;
  border: 2px solid #d4af37;
}
